<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LoginView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A408A46A1BBBE4D3000EC20D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A408A47E1BBBE4D3000EC20D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A408A4891BBBE4D3000EC20D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
